---
import Layout from "@layouts/Layout.astro";
import Intro from "@components/Intro.astro";
import Content from "@components/Content.astro";
import Modal from "@components/Modal.astro";
import Nav from "@components/Nav.astro";
---

<script>
  const button: HTMLElement | null = document.querySelector("#impressum-btn");
  const modal: HTMLDialogElement | null = document.querySelector("#impressum");

  button?.addEventListener("click", () => {
    modal?.showModal();
  });
</script>

<Layout>
  <!-- <Nav /> -->
  <Intro />
  <Content />
  <!-- <Impressum /> -->
  <Modal id="impressum">
    <p>
      <b>Verantwortliche Instanz:</b><br />Bureau 314<br />Meisengasse 4<br
      />4057 Basel<br />Schweiz<br /><strong>E-Mail</strong>: hello@bureau314.ch<br
      /><br /><strong>Vertretungsberechtigte Personen</strong><br />Jan Pistor<br
      /><br /><strong>Name des Unternehmens</strong>: Bureau 314<br /><strong
        >Registrationsnummer</strong
      >: CHE-464.719.403<br /><strong>Umsatzsteuer-Identifikationsnummer</strong
      >: CHE-464.719.403 MWST<br /><br /><strong>Haftungsausschluss</strong><br
      />Der Autor übernimmt keine Gewähr für die Richtigkeit, Genauigkeit,
      Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.<br
      />Haftungsansprüche gegen den Autor wegen Schäden materieller oder
      immaterieller Art, die aus dem Zugriff oder der Nutzung bzw. Nichtnutzung
      der veröffentlichten Informationen, durch Missbrauch der Verbindung oder
      durch technische Störungen entstanden sind, werden ausgeschlossen.<br
      /><br />Alle Angebote sind freibleibend. Der Autor behält es sich
      ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne
      gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die
      Veröffentlichung zeitweise oder endgültig einzustellen.<br /><br /><strong
        >Haftungsausschluss für Inhalte und Links</strong
      ><br />Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres
      Verantwortungsbereichs. Es wird jegliche Verantwortung für solche
      Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten
      erfolgen auf eigene Gefahr des jeweiligen Nutzers.<br /><br /><strong
        >Urheberrechtserklärung</strong
      ><br />Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos
      oder anderen Dateien auf dieser Website, gehören ausschliesslich Bureau
      314 oder den speziell genannten Rechteinhabern. Für die Reproduktion
      jeglicher Elemente ist die schriftliche Zustimmung des
      Urheberrechtsträgers im Voraus einzuholen.<br /><br />
    </p>
  </Modal>
  <button id="impressum-btn">Impressum</button>
</Layout>

<style>
  #impressum-btn {
    float: right;
    padding: 1rem !important;
  }
</style>
