<section class="intro">
  <img src="./logo.svg" />
  <h1>Experiences, Web and New Media</h1>
  <h1>Software Development &shy; and Interaction Design</h1>
  <h1>hello[at]bureau314[dot]ch</h1>
  <button id="arrowDownBtn">
    <img class="bounce" src="./arrow-down.svg" />
  </button>
</section>

<script>
  const arrowDownBtn =
    document.querySelector<HTMLButtonElement>("#arrowDownBtn");

  arrowDownBtn?.addEventListener("click", () => {
    window.scroll({
      top: window.innerHeight,
      left: 0,
      behavior: "smooth",
    });
  });
</script>
<style>
  section.intro {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    border-bottom: 1px dashed var(--orange);
  }

  p:first-of-type {
    margin-top: 2rem;
  }

  img {
    height: auto;
    padding: 0 2rem;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 0.8rem;
    }
  }

  #arrowDownBtn {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    /* border-bottom: 1px dashed var(--orange); */
  }

  .bounce {
    animation: bounce 2s ease infinite;
  }

  @keyframes bounce {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
