<header class="header">
  <nav class="nav">
    <ul>
      <li>
        <a class="utext">Projects</a>
      </li>
      <li>
        <a class="utext">Education</a>
      </li>
      <li>
        <a class="utext">About</a>
      </li>
      <li>
        <a class="utext">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;

    padding-bottom: 0.5rem;
    background-color: var(--blue);
  }
  .nav {
    position: relative;
    display: flex;
    padding: 0 1rem;
  }

  a {
    font-weight: bold;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    margin-left: auto;
  }

  li {
    padding-left: 1rem;
  }
</style>
