---
export interface Props {
  title: string;
  subtitle?: string | null;
  text?: string | null;
  media?: {
    path: string;
    video: boolean;
    caption: [{ head: string; sub: string }];
  };
}

const { title, subtitle = null, media, text = null } = Astro.props;
---

<section>
  <article>
    <div class="heading">
      <h1>{title}</h1>
      {subtitle !== null && <h2>{subtitle}</h2>}
    </div>
    <slot name="media" />
    <!-- <slot name="text"></slot> -->
    {text !== null && <div class="project-description serif" set:html={text} />}
    <slot name="table" />
    <slot name="gallery" />
  </article>
  <div class="section-end">
    <img src="./wave-small.svg" />
  </div>
</section>

<style>
  :global(div.project-description p) {
    margin-bottom: 1rem;
  }
  :global(div.project-description p:last-child) {
    margin-bottom: 1rem;
  }

  section {
    width: 100%;
    display: inline-block;
  }
  .section-end {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  @media screen and (max-width: 768px) {
    .section-end {
      margin-bottom: 5rem;
    }
  }
</style>
